<h1 id="tableLabel">Tabla de facturas</h1>

<p *ngIf="!tabla"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="tabla">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Nombre</th>
      <th>Valor</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tabla">
      <td>{{ item.fechaFac }}</td>
      <td>{{ item.numeDocNavigation.nombre }}</td>
      <td>{{ item.valorFac }}</td>
      <td>{{ item.codiEstadoNavigation.descripcion }}</td>
    </tr>
  </tbody>
</table>
